<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>   
    <containers>
      <container name="AlertzhaozContainer">   
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="ZhaoXi.EF.Model.CustomDbContext, ZhaoXi.EF.Model"/>
      </container> 
    </containers>
  </unity>
</configuration>